{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="row my-5">
      <div class="col-md mr-2">
        <h2>Getting started often feels hard.</h2>
        <p>It can be daunting to pursue higher education or a new career, especially if you don’t know many people who’ve gone through the process before. Searching “how do I become  ___” returns millions of pages, some more helpful than others. Even if you know in theory what to do, you might still wonder if you’re on the right track or if how you feel is normal.</p>

        <h2>That's okay! You're not alone.</h2>
		<p>Curlicue is a community where established students and professionals share their personal experiences of getting started, navigating challenges, and achieving their goals. Whether you’re wanting to make the most of college or seeking your dream role, Curlicue helps you find and learn from people like you who’ve succeeded in similar journeys. </p>

		<h2>Success takes many forms.</h2>
		<p>We believe that there is no one path to success, that diverse individuals can flourish in all types of careers, and that you shouldn’t have to “know the right people” to benefit from experienced mentorship. We hope you’ll find this site useful and one day share your own journey with others.</p>
      </div>
      <div class="col-md ml-2 py-4 rounded border border-primary">
      	<p class="lead">Curlicue was founded in 2019 with three goals:</p>
      	<span class="lead text-primary">Equalize access to information.</span>
      	<p>Information about education and careers&mdash;including resources, strategies, and pathways&mdash;is often shared through personal networks, rather than being accessibly documented for everyone. This disadvantages those who might not know others who've attended college, attained a PhD, or advanced in a particular career.</p>

      	<span class="lead text-primary">Increase the visibility of underrepresented groups.</span>
      	<p>Many fields still see disparities in participation and outcomes across demographic categories including race, gender, and socioeconomic history. Curlicue aims to provide a substantive platform for people from all backgrounds to share their personal stories and experiences.</p>

      	<span class="lead text-primary">Normalize challenges.</span>
      	<p>Everyone struggles sometimes, especially when starting something new. Many people enter school or a new job feeling like they have no idea what they're doing, but through persistence and effort become highly successful over time. Curlicue aims to normalize these experiences, dispelling the myth of "geniuses" or "naturals," and aggregate proven strategies for navigating common difficulties and feelings of self-doubt. 
      </div>
    </div>
  </div>

{% endblock %}