{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md">
                <span class="text-primary">Category</span><br>
                {{ active_category }}<br><br>
                <a href="/summary/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags
                    }) }}">See Summary
                </a>
            </div>
            <div class="col-md">
                <span class="text-primary">Subject Tags</span><br>
                {% for ctag in active_ctags %}
                    <a class="badge category" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags | reject('in', [ctag]),
                    'dt': active_dtags
                    }) }}">{{ ctag }} <i class="close fas fa-times"></i></a>
                {% endfor %}
            </div>
            <div class="col-md">
                <span class="text-primary">Author Tags</span><br>
                {% for dtag in active_dtags %}
                    <a class="badge category" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags | reject('in', [dtag])
                    }) }}">{{ dtag }} <i class="close fas fa-times"></i></a>
                {% endfor %}
            </div>
            <div class="col-md-2">
                <button class="btn sort" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Sort By <i class="fas fa-chevron-down"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['overall']
                    }) }}">Overall Score</a>
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['date_new']
                    }) }}">Date - Recent</a>
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['date_old']
                    }) }}">Date - Oldest</a>
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['like']
                    }) }}">Most Liked</a>
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['encouraging']
                    }) }}">Most Encouraging</a>
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['eyeopening']
                    }) }}">Most Eye-Opening</a>
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['helpful']
                    }) }}">Most Helpful</a>
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['motivating']
                    }) }}">Most Motivating</a>
                    <a class="dropdown-item" href="/content/?{{ format_url({
                    'c': [active_category],
                    'ct': active_ctags,
                    'dt': active_dtags,
                    'sort': ['reassuring']
                    }) }}">Most Reassuring</a>
                </div>
            </div>
        </div>
        {% if content|length == 0 %}
            <hr class="my-5">
            <div class="row my-5">
                <div class="col">
                    <p>Sorry, there are no posts that match these filters. Try a different category, or subscribe to
                    get updates when new, matching posts are added.</p>
                </div>
            </div>
        {% else %}
            {% for post in content %}
                <hr class="my-5">
                <div class="row my-5">
                    <div class="col-md-2 mr-4">
                        <p><span class="text-primary">Author</span><br>{{ post.q_name }}</p>
                        <p><span class="text-primary">Date</span><br>{{ post.time }}</p>
                        <p><span class="text-primary">Category</span><br> {{ post.category.label }}</p>
                        <p><span class="text-primary">Subject Tags</span><br>
                            {% for ctag in post.ctags %}
                                <a class="badge category" href="/content/?{{ format_url({
                                'c': [active_category],
                                'ct': (active_ctags + [ctag.label]) | unique,
                                'dt': active_dtags
                                }) }}">{{ ctag.label }}</a>
                            {% endfor %}
                        </p>
                        <p><span class="text-primary">Author Tags</span><br>
                            {% for dtag in post.author.dtags %}
                                <a class="badge category" href="/content/?{{ format_url({
                                'c': [active_category],
                                'ct': active_ctags,
                                'dt': (active_dtags + [dtag.label]) | unique
                                }) }}">{{ dtag.label }}</a>
                            {% endfor %}
                        </p>
                        <p><span class="text-primary">User Reactions</span><br>
                            <a class="rating" href="{{ url_for('reaction', post_id=post.id, action='like') }}">
                                <i class="far fa-thumbs-up fa-fw"></i>
                                Like ({{ post.get_reactions()['Like'] }})</a><br>
                            <a class="rating" href="{{ url_for('reaction', post_id=post.id, action='dislike') }}">
                                <i class="far fa-thumbs-down fa-fw"></i>
                                Dislike ({{ post.get_reactions()['Dislike'] }})</a><br>
                            <a class="rating" href="{{ url_for('reaction', post_id=post.id, action='encouraging') }}">
                                <i class="far fa-smile-beam fa-fw"></i>
                                Encouraging ({{ post.get_reactions()['Encouraging'] }})</a><br>
                            <a class="rating" href="{{ url_for('reaction', post_id=post.id, action='eye-opening') }}">
                                <i class="far fa-surprise fa-fw"></i>
                                Eye-Opening ({{ post.get_reactions()['Eye-Opening'] }})</a><br>
                            <a class="rating" href="{{ url_for('reaction', post_id=post.id, action='helpful') }}">
                                <i class="fas fa-hands-helping fa-fw"></i>
                                Helpful ({{ post.get_reactions()['Helpful'] }})</a><br>
                            <a class="rating" href="{{ url_for('reaction', post_id=post.id, action='motivating') }}">
                                <i class="fas fa-mountain fa-fw"></i>
                                Motivating ({{ post.get_reactions()['Motivating'] }})</a><br>
                            <a class="rating" href="{{ url_for('reaction', post_id=post.id, action='reassuring') }}">
                                <i class="far fa-grin fa-fw"></i>
                                Reassuring ({{ post.get_reactions()['Reassuring'] }})</a><br>
                    </div>
                    <div class="col-md ml-4">
                        <p><span class="text-primary">Relevant Experiences</span>
                            {% for position in post.positions %}
                                <br>{{ position.title }}, {{ position.org }}
                            {% endfor %}
                        </p>
                        <p><span class="text-primary">Please share a little about what you’ve done in this field.</span><br>
                            {{ post.q_about }}
                        </p>
                        <p><span class="text-primary">How did you become interested in your field?</span><br>
                            {{ post.q_interest }}
                        </p>
                        <p><span class="text-primary">How did you feel when you were starting off? What challenges did you encounter, and how did you navigate them?</span><br>
                            {{ post.q_challenges }}
                        </p>
                        <p><span
                                class="text-primary">How has your experience in this field changed over time?</span><br>
                            {{ post.q_change }}
                        </p>
                        <p><span class="text-primary">What were some of the strategies and/or resources you found most helpful along the way?</span><br>
                            {{ post.q_helpful }}
                        </p>
                        <p><span class="text-primary">Is there anything else you'd like to share?</span><br>
                            {{ post.q_other }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}