{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row my-5">
            <div class="col">
                {% if current_user.is_authenticated %}
                    <h2>Contribute to Curlicue</h2>
                    <p>Thank you for contributing to Curlicue! We are a mission-driven start-up working to expand access
                        to
                        knowledge about educational and career pathways. Your contribution will help others benefit and
                        learn from your experiences. A few notes:</p>
                    <ul class="mb-5">
                        <li><span class="text-primary">Background:</span> We ask contributors to share some demographic
                            information and relevant positions you’ve held or schools you’ve attended. This is to help
                            readers find posts from people like them (especially for underrepresented groups) and better
                            understand your experiences in context.
                            <ul>
                                <li>All demographic information is optional.</li>
                                <li>We ask for at least one relevant role or affiliation, which you can anonymize. For
                                    example, you can choose to be listed as “Data Scientist, Non-Profit Organization”
                                    rather
                                    than displaying your employer’s actual name.
                                </li>
                            </ul>
                        </li>
                        <li><span class="text-primary">Style & Tone:</span> Imagine speaking to yourself five years ago
                            or a
                            junior colleague you mentor. Share what your experience was like and what was most helpful
                            for
                            you personally; don’t worry about crafting general guidelines applicable to everyone. We've
                            included a few sample responses below.
                        </li>
                        <li><span class="text-primary">Compensation:</span> At this time, contributions are on a
                            volunteer
                            basis. We hope to one day provide some form of honorarium, including to those who joined as
                            volunteers. This is a long-term goal and we will keep contributors updated as the platform
                            grows
                            and evolves.
                        </li>
                    </ul>
                    <hr>
                    <form class="my-5" method="post">
                        <div class="form-group">
                            <label for="q_name">Display Name</label>
                            <input type="text" class="form-control" id="q_name" name="q_name"
                                   placeholder="Name you'd like to displayed. Feel free to use just your first name, a last initial only, or a pseudonym.">
                        </div>
                        <div class="form-group">
                            <label for="dtags">(Optional) Please select any of the following that describes you.
                                This is to help
                                readers find posts from others with similar backgrounds and identities.</label>
                            <select multiple class="form-control" id="dtags" name="dtags">
                                {% for demog in demographics %}
                                    <option>{{ demog }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ctags">Please select the category that best matches the experience you are sharing today.</label>
                            <select class="form-control" id="category" name="category">
                                {% for category in categories.keys() %}
                                        <option>{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ctags">Please select any of the following that describes the
                                experience you are sharing today.</label>
                            <select multiple class="form-control" id="ctags" name="ctags">
                                {% for category in categories.keys() %}
                                    {% for ctag in categories[category] %}
                                        <option>{{ category }} - {{ ctag }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="roles">Please list a few roles you’ve held or schools you've attended,
                                relevant to what you’re sharing today. This is to provide readers context on your
                                background. You can choose to use generic descriptors of your role and organization if
                                you do not wish to provide the actual names.</label>
                            {% for n in range(roles) %}
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <input class="form-control" id="role{{ n }}" name="role{{ n }}"
                                               placeholder="Title">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input class="form-control" id="org{{ n }}" name="org{{ n }}"
                                               placeholder="Organization / School">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="q_about">Please share a little about your background.
                                This doesn’t have to be long or formal and helps provide readers additional context.
                            </label>
                            <textarea class="form-control" id="q_about" name="q_about" rows="4"
                                      placeholder="{{ sample['q_about'] }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="q_interest">How did you become interested in your field?</label>
                            <textarea class="form-control" id="q_interest" name="q_interest" rows="4"
                                      placeholder="{{ sample['q_interest'] }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="q_challenges">How did you feel when you were starting off? What
                                challenges did you encounter, and how did you navigate these challenges?</label>
                            <textarea class="form-control" id="q_challenges" name="q_challenges" rows="6"
                                      placeholder="{{ sample['q_challenges'] }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="q_change">How has your experience that you're writing about today changed over
                                time? This might involve interests, feelings about the field, long-term goals, or
                                something
                                else.</label>
                            <textarea class="form-control" id="q_change" name="q_change" rows="6"
                                      placeholder="{{ sample['q_change'] }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="q_helpful">What were some of the strategies and/or resources you
                                found most helpful along the way? These can either be concrete things (e.g. X
                                Scholarship, Y
                                Internship) or general things (e.g. “form relationships with professors”, "seek
                                mentorship
                                opportunities").</label>
                            <textarea class="form-control" id="q_helpful" name="q_helpful" rows="6"
                                      placeholder="{{ sample['q_helpful'] }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="q_other">Is there anything else you'd like to share?</label>
                            <textarea class="form-control" id="q_other" name="q_other" rows="6"
                                      placeholder="Write anything else you want to share."></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary btn-rounded ml-0" value="Submit">
                    </form>
                    </div>
                {% else %}
                    <h2>Contribute to Curlicue</h2>
                    <p>Please login first to contribute content:</p>
                    <ul>
                        <li><a href="{{ url_for("google.login") }}">Login with Google</a></li>
                        <li><a href="{{ url_for("github.login") }}">Login with GitHub</a></li>
                    </ul>
                {% endif %}
        </div>
    </div>

{% endblock %}